<h1>Add an album</h1>
<form action="/albums" method="POST">
<label>Title</label>
  <input type="text" name="title">
  <label>release_year</label>
  <input type="text" name="release_year">
  <label>artist_id</label>
  <input type="text" name="artist_id">

  <input type="submit" value="Submit the form">
</form>